@model TeacherViewModel

<h2>Преподаватель - @Model.FullName</h2>

<div class="TeacherInfo">
    <div>
        <label id="FullName">Ф.И.О: @Model.FullName</label>
    </div>
    <div>
        <label id="Email">Email: @Model.Email</label>
    </div>
</div>
