@model TaskViewModel

@{
    Layout = null;
}

<form asp-action="EditTask" asp-controller="Teachers">
    <h2 style="text-align: center" id="title">Редактировать</h2>

    <div class="row col-12 justify-content-center">
        <label asp-for="Id" hidden>Id:</label>
        <input type="hidden" asp-for="Id" />
    </div>

    <div class="row col-12">
        <div class="col-5 justify-content-end">
            <label style="font-weight:bold" asp-for="Title">Название:</label>
        </div>
        <div class="col-7 justify-content-start">
            <input type="text" asp-for="Title" />
        </div>
    </div>

    <div class="row col-12">
        <div class="col-5 justify-content-end">
            <label style="font-weight:bold" asp-for="Description">Описание:</label>
        </div>
        <div class="col-7 justify-content-start">
            <input type="text" asp-for="Description" />
        </div>
    </div>

    <div class="row col-12">
        <div class="col-5 justify-content-end">
            <label style="font-weight:bold" asp-for="MaxResult">Максимальный результат:</label>
        </div>
        <div class="col-7 justify-content-start">
            <input type="number" asp-for="MaxResult" />
        </div>
    </div>



    <div class="row col-12">
        <div class="col-5 justify-content-end">
            <label style="font-weight:bold" asp-for="CourseId">Курс:</label>
        </div>
        <div class="col-7 justify-content-start">
            <select asp-for="CourseId" class="form-select" asp-items="Model.Courses"></select>
        </div>
    </div>

    <input class="edit_button" style="text-align: center" type="submit" value="Редактировать">
</form>